*.iml
.gradle
/local.properties
/.idea/**
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/buildSrc/build/**
.kotlin
**/build/
xcuserdata
!src/**/build/
.idea
captures
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
